<div class="login-page">

{{# if errors}}
  <section>
    <ul>
      {{# each errors}}
      <label style="color:red;">{{this.msg}}</label>
      {{/each}}
    </ul>
  </section>
  {{/if}}

  <div class="form">
    <form class="login-form" action="/login-submit" method="POST">
      <input type="text" placeholder="Email" name="email"/>
      <input type="password" placeholder="Password" name="password"/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </form>
  </div>
</div>