<div class="login-page">

  {{# if errors}}
  <section>
    <ul>
      {{# each errors}}
      <label style="color:red;">{{this.msg}}</label>
      {{/each}}
    </ul>
  </section>
  {{/if}}

  <div class="form">
    <form action="/register-submit" method="POST">
      <input type="text" placeholder="Name" name="name" />
      <input type="text" placeholder="Email" name="email" />
      <input type="password" placeholder="Password" name="password" />
      <button>create</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
  </div>
</div>