<h1>{{title}}</h1>

{{# if success}}
<section>
    <h2>Successfull validation!</h2>
</section>
{{ else}}
{{# if errors}}
<section>
    <ul>
        {{# each errors}}
        <li>{{this.msg}}</li>
        {{/each}}
    </ul>
</section>
{{/if}}
<form action="/submit" method="post">

    <div class="input">
        <label for="email">E-Mail</label>
        <input type="text" name="email" id="email">
    </div>

    <div class="input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>

    <div class="input">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword">
    </div>

    <button type="submit">Sign up</button>
</form>

{{/if}}