doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li My Text
      li. 
        Multiline 
        text 
      input(type="text")
    block content
